* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: inline-block;
	clear: both;
}

header {
	width: 100%;
	padding: 20px 0;
	text-align: center;
}
header .headline {
	font-size: 32px;

}

.nav-list {
	width: 100%;
	padding: 15px 0;
	text-align: center;
	margin: 0 auto;
	border-top: 1px solid #848282;
	border-bottom:  1px solid #848282;
}
.nav-list-item {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}

.main {
	width: 800px;
	margin: 50px auto;

}
.box1{
	width: 200px;
	height: 200px;
	background-color: ;
	float: left;
}
.box2{
	width: 200px;
	height: 200px;
	background-color: ;
	float: left;
}
.box3{
	width: 200px;
	height: 200px;
	background-color: ;
	float: left;
}
.box4{
	width: 200px;
	height: 200px;
	background-color: ;
	float: left;
}
.box5{
	width: 200px;
	height: 200px;
	background-color: ;
	float: left;
}
.box6{
	width: 200px;
	height: 200px;
	background-color: ;
	float: left;
}
.box7{
	width: 200px;
	height: 200px;
	background-color: ;
	float: left;
}
.box8{
	width: 200px;
	height: 200px;
	background-color: ;
	float: left;
}
.box9{
	width: 200px;
	height: 200px;
	background-color: ;
	float: left;
}
.box10{
	width: 200px;
	height: 200px;
	background-color: ;
	float: left;
}
.box11{
	width: 200px;
	height: 200px;
	background-color: ;
	float: left;
}
.box12{
	width: 200px;
	height: 200px;
	background-color: ;
	float: left;
}

footer {
	width: 100%;
	height: 120px;
	background-color: 

}